	table {
			font-family: arial, sans-serif;
			border-collapse: collapse;

		}

		td,
		th {
			border: 1px solid #dddddd;
			text-align: left;
			text-align: center;

		}

		td {
			padding: 4px;
		}




		td tr:nth-child(even) {
			background-color: #dddddd;
		}